.BestExperienceHomePage {
    background-color: white;
}

.BestExperienceCard {
    background-color: var(--bodyColor);
    padding: 20px;
    border-radius: 10px;
    /* height: 100%; */
    /* min-height: 500px; */
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
}

.BestExperienceCardIcon {
    display: flex;
}

.BestExperienceCardIcon img {
    width: 70px;
    height: 70px;
}

.BestExperienceCardIcon>div {
    border-radius: 50%;
    background-color: var(--bodyColor);
    width: 100px;
    border: 2px solid white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}